= form_for @subcontractor do |f|
  - if @subcontractor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subcontractor.errors.count, "error")} prohibited this subcontractor from being saved:"
      %ul
        - @subcontractor.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :lat
    = f.text_field :lat
  .field
    = f.label :lon
    = f.text_field :lon
  .actions
    = f.submit 'Save'
