%h1 Listing subcontractors

%table
  %thead
    %tr
      %th Name
      %th Lat
      %th Lon
      %th
      %th
      %th

  %tbody
    - @subcontractors.each do |subcontractor|
      %tr
        %td= subcontractor.name
        %td= subcontractor.lat
        %td= subcontractor.lon
        %td= link_to 'Show', subcontractor
        %td= link_to 'Edit', edit_subcontractor_path(subcontractor)
        %td= link_to 'Destroy', subcontractor, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Subcontractor', new_subcontractor_path
