%p#notice= notice

%p
  %b Name:
  = @subcontractor.name
%p
  %b Lat:
  = @subcontractor.lat
%p
  %b Lon:
  = @subcontractor.lon

= link_to 'Edit', edit_subcontractor_path(@subcontractor)
\|
= link_to 'Back', subcontractors_path
