.container
  #map
  %script{:async => "true",
          :defer => "true",
          :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyB0xPTTZiVOHSzGb9gRm_g0ymeyVC_k3Cw&callback=initMap"}
  .list
    .input
      %p Postcode:
      %input#address{:type => "text",
                     :name => "postcode"}
      %p Radius:
      %input#circle{:type => "number",
                    :min => "0.1",
                    :max => "10",
                    :step => "0.1",
                    :value => "0.5",
                    :name => "radius"}
      %p km
      %input#submit{:type => "submit",
                    :value => "Submit"}
    #response
      %h2 All subcontractors
      - Subcontractor.all.each do |subcontractor|
        %p= subcontractor.name
        :javascript
          updateLocations('#{subcontractor.name}',
                          #{subcontractor.lat},
                          #{subcontractor.lon});
